body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    line-height: 1.6;
}

header {
    background-color: #0044cc;
    color: white;
    text-align: center;
    padding: 8px;
}

header p {
    font-size: 18px;
    font-style: italic;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: #0044cc;
}

ul {
    list-style-type: square;
}

footer {
    text-align: center;
    padding: 10px;
    background: #0044cc;
    color: white;
    position: relative;
    bottom: 0;
}

@media (max-width: 600px) {
    main {
        width: 90%;
        padding: 15px;
    }

    header h1 {
        font-size: 20px;
    }

    footer {
        padding: 15px;
    }
}

button {
    margin-top: 10px;
    padding: 8px 12px;
    background-color: #0044cc;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: #003399;
}